.LoginRoot{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large;
    height: calc(100% - 40px);
}
.LoginImage{
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
}