.PostsRoot{
    display: flex;
    flex-wrap: wrap;
    height: calc( 100% - 50px );
    overflow: auto;
    background-color: #fec20a;
}
.icon{
    color: #000000;
    position: absolute;
    top: 50px;
    right: 30px;
    cursor: pointer;
}