@import '../../styles/utils.scss';
.PostsRoot{
    display: flex;
    flex-wrap: wrap;
    @include height();
    overflow: auto;
    background-color: #fec20a;
}
.icon{
    color: #000000;
    position: absolute;
    top: 50px;
    right: 30px;
    cursor: pointer;
}