.PostsRoot{
    display: flex;
    flex-wrap: wrap;
    height: calc( 100% - 40px );
    overflow: auto;
    background-color: #f0faff;
}
.icon{
    color: #09d3ac;
    position: absolute;
    top: 50px;
    right: 30px;
    cursor: pointer;
}
