@import '../../styles/utils.scss';
.PostRoot{
    width: 100%;
    @include height();
}
.postBox{
    @media (max-width: 1024px) {
        width: calc(100% - 2rem);
        padding: 50px 1rem 0px 1rem;
    }
    width: 60%;
    padding: 50px 20% 0px 20%;
    @include height();
    overflow: auto;
}
.title{
    margin: 0;

}
.content{

}
.horizon{
    height: 1px;
    background-color: #fff1c8;
    box-shadow: 1px 1px 1px #fde18b;
    width: 100%;
}