.PreviewBox{
    border: 2px solid #09d3ac;
    width: 30%;
    margin-left: .8rem;
    margin-right: .8rem;
    margin-top: 10px;
}
.title{
    margin: 5px;
}
.content{
    margin: 5px;
}
.postLink{
    color: black;
    text-decoration: none;
}
.postLink:visited{
    text-decoration: none;
    color: black;
}