.formBox{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 1fr;
    height: calc(100% - 40px);
}
.title{
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
}
.contentBox{
    grid-column-start: 1;
    grid-column-end: 2;
    resize: none;
    height: 95%;
    border-top: none;
    padding: 10px;
    overflow: auto;
}
.timeSlider{
    max-width: 90%;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
}
.uploadButton{
    grid-column-start: 1;
    grid-column-end: 3;
}

