.NavigationRoot{
    height: 50px;
    color:#fec20a;
    background-color: #000000;
}
.LinkItem{
    display: inline;
    margin: 10px;
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-decoration: none;
}
.LinkItem:visited{
    color:#fec20a;
    line-height: 45px;
    font-weight: bold;
    text-decoration: none;
}
.LinkItem:link{
    color:#fec20a;
    line-height: 45px;
    font-weight: bold;
    text-decoration: none;
}
.NaviLogout{
    color: #fec20a;
    line-height: 45px;
    font-weight: bold;
    text-decoration: none;
    display: inline;
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
}
.NaviNoti{
    cursor: pointer;
}